src/main/mule/implementation/get-lead.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="get-leadFlow" doc:id="8884c56c-9eb4-4a92-bae5-349d40aca471" >
		<logger level="INFO" doc:name="Before salesforce" doc:id="2c2ef2f5-e09c-42ab-897c-bdace7017d32" message="Before salesforce"/>
		<salesforce:query doc:name="Query" doc:id="40fb6776-b115-43dc-af9c-b0ebf8b8f40b" config-ref="salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT :field FROM Lead where Id = :Id]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[%dw 2.0
output application/json
---
{
	Id : vars.Id,
	field : vars.field
}]]]></salesforce:parameters>
		</salesforce:query>
		<logger level="INFO" doc:name="After salesforce" doc:id="3d22e8ea-aaf8-4ba1-a22f-5d4249c5e39d" message="After salesforce"/>
		<choice doc:name="Choice" doc:id="b5d11bb7-07ce-4613-95bc-02cbae4b02d4" >
			<when expression="#[sizeOf(payload) != 0]">
				<ee:transform doc:name="response" doc:id="40c82ca2-52d9-425a-88ac-269441dbb5a4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="response" doc:id="2c68f3a8-8ca3-4a1a-a067-68406243c5f6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"No record found in Salesforce"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
