src/main/mule/global/sys-api-lead.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="sys-api-lead-main">
        <http:listener path="${http.path}" config-ref="sys-api-lead-httpListenerConfig">
            <http:response statusCode="#[vars.statusCode default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="Entry Logger" doc:id="e3a895dc-8707-4b36-a0cc-5e2f04ae2e7d" message="Entry Logger"/>
		<apikit:router config-ref="sys-api-lead-config"/>
		<error-handler ref="Gloabl-Error_Handler" />
    </flow>
    <flow name="sys-api-lead-console">
        <http:listener path="/console/*" config-ref="sys-api-lead-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sys-api-lead-config"/>
		<error-handler ref="Gloabl-Error_Handler" />
    </flow>
    <flow name="get:\lead:sys-api-lead-config">
		<ee:transform doc:name="query" doc:id="6b313c79-d1c5-4e1b-b310-6eaf80d45556" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="field" ><![CDATA[p('field.lead')]]></ee:set-variable>
				<ee:set-variable variableName="Id" ><![CDATA[attributes.queryParams.Id]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-leadFlow" doc:id="1af486c0-1596-4ba9-b91c-0c19f25a8adc" name="get-leadFlow" />
    </flow>
    <flow name="post:\lead:application\json:sys-api-lead-config">
		<flow-ref doc:name="post-leadFlow" doc:id="d44c5a68-902b-4596-93f5-94bee83b3eec" name="post-leadFlow" />
    </flow>
</mule>
